@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Poppins:ital,wght@1,900&display=swap');

/*css resert*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;

}

body {

    font-family: var(--font-default);
}

header {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    height: 100vh;
    padding-top: 12.5rem;
    padding-right: 3rem;
    color: #000;
    position: relative;
    overflow: hidden;
}

header::before {
    transform: scale(1.1);
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    animation: zoom 3s;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.spin{  
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid #b4b4b4;
    border-top: 10px solid rgb(77, 153, 77);
    animation: spin 0.5s linear infinite;

}
@keyframes zoom {
    0% {
        transform: scale(1.5);
    }

    100% {

        transform: scale(1.1);
    }
}.hiden{
    display: none;
}
#hamburguer {
    position: fixed;
    right: 5rem;
    top: 2rem  ;
    height: 3rem;
    width: 3rem;
}
#hamburguer .linha
{
height: 1rem;
width:  150%;
background-color:#fff;
box-shadow: 0 .5rem .5rem #BC2B0C;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 15rem;
    z-index: 10;
    right: -20rem;
    transition: right 1s;

}
.menu-show{
    right: 0;
}
nav li{
    list-style: none;

}
nav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-secundary);

}
nav a:hover {

    color: yellow;

    
}

h2,
h3,
h4 {
    color: #fff;
    background-color: rgba(0, 0, 252, 0.500);

    font-size: 3rem;
    font-weight: 900;
    font-family: 'Poppins';
    border-radius: 7px;
}

h1  {
    font-size: 4rem;
    background-color: #fff;
    font-family: 'Poppins';
    border-radius: 7px;
    font-size: 50px;
    font-weight: 900;
}



footer {
    background-color: blueviolet;
    font-size: 30px;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    margin: auto;
}

#secao-apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size:cover;
    
}

div {
    text-align: left;
    margin-top: 1rem;
    margin-left: 5rem;
    text-align: center;
}

#avatar {
    border-radius: 1%;
}

section {

    display: flex;
    flex-direction: row;
    padding: 7rem;
    gap: 15rem;
}

span {
    /* transform: rotate(2deg);*/
    background-color: #fff;
    margin-top: 1rem;
    padding-right: 3rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    color: #000;
    border-radius: 7px;
}

.botao1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 252, 0.500);
    color: #fff;
    margin-top: 1rem;
    font-size: 1.9rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 7px;
    width: 155px;
    height: 50px;
    transition: width 10s;
}
.botao{
    display: flex;
    flex-direction: row-reverse ;
    justify-content: center;
    background-color: rgba(0, 0, 252, 0.500);
    color: #fff;
    margin-top: 5rem;
    font-size: 1.9rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 7px;
    width: 200px;
    height: 70px;


}
p {
    color: #fff;
    background-color: rgba(0, 7, 7, 0.700);
    font-size: 2rem;
}

ul {
    color: #fff;
    background-color: rgba(0, 7, 7, 0.700);
    font-size: 2rem;
}


#secao-apresentacao li {
    list-style: none;
}
section{

    display: flex ;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
}
#secao-projetos{
    

    
    background-image: url('https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size:cover;
    
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: #212121;
}


#secao-projetos

ul{
    background-color:rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
     gap: 10rem;
    margin-top: 15rem;
    margin-left: 5rem;
    margin-right: 25rem;
    color: var(--text-primary);
}

#secao-projetos li{
    list-style: none;
    
}

.card {
    
  width: 25rem;
  height: 35rem;
  position: relative;
  cursor: pointer;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 1rem;
}
  
.card-img-wrapper img {
    object-fit: cover;
    width: 120%;
    height: 100%;
    border-radius: 1rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}
  
.card:hover .card-img-wrapper img {
    opacity: 0.5;
}
  
.card-text {
    position: absolute;
    bottom: -3rem;
    opacity: 0;
    padding: 1rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    margin-bottom: 10rem;
}

.card:hover .card-text {
    opacity: 1;
    bottom: 0;
}

#secao-projetos h3{
    font-family: var(--font-default);
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.3rem;
    color: green;
}

#secao-projetos p{
    font-size: 1.5rem;
    
}
#secao-orcamento form{
    display: grid;
    row-gap: 1.5rem;
    font-size: 2.5rem;
    justify-items: start;
    grid-template-columns: 1fr auto;
    background-color: #FFF9; 
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 4rem;
}

#secao-orcamento form h3{
    background-color: #6a3093;
    color: var(--text-primary);
    position: absolute;
    top: -10%;
    left: 5%;
    padding: 1rem 3rem;
    border-radius: 10px;
}
.input-group {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    padding: 0 1rem;
    align-items: center;
}

input[type=text],
input[type=number]
{
    font-size: 2rem;
    outline: none;
    padding: 1rem;
    border-radius: 7px;
    border: 0;
}

#secao-orcamento form output{
    grid-column: 2;
}

@media (max-width: 850px) {
    #secao-projetos ul{
        flex-direction: column;
    }
}

@media (width < 768px){
  .only-large{
    display: none;
  }
}

.only-large{
    border-radius: 50%;
}