@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Poppins:ital,wght@1,900&display=swap');

/*css resert*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {

    font-family: var(--font-default);
}

header {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    height: 100vh;
    padding-top: 12.5rem;
    padding-right: 3rem;
    color: #000;
    position: relative;
    overflow: hidden;


}


header::before {

    transform: scale(1.1);
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    animation: zoom 3s;
}

@keyframes zoom {

    0% {
        transform: scale(1.5);
    }

    100% {

        transform: scale(1.1);
    }



}

h2,
h3,
h4 {

    color: #fff;
    background-color: rgba(0, 0, 252, 0.500);

    font-size: 50px;
    font-weight: 900;
    font-family: 'Poppins';
    border-radius: 7px;
}

h1 {

    font-size: 4rem;
    background-color: #fff;
    font-family: 'Poppins';
    border-radius: 7px;
    font-size: 50px;
    font-weight: 900;


}

h2,
h3 {
    font-size: 3rem;

}

footer {
    background-color: blueviolet;
    font-size: 30px;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    margin: auto;
}

#secao-apresentacao {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: auto;

}

div {
    text-align: left;
    margin-top: 1rem;
    margin-left: 5rem;
    text-align: center;
}
#avatar {

    border-radius: 1%;

}



section {

    display: flex;
    flex-direction: row;
    padding: 7rem;
    gap: 15rem;
}

span {
    /* transform: rotate(2deg);*/
    background-color: #fff;
    margin-top: 1rem;
    padding-right: 3rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    color: #000;
    border-radius: 7px;
}

.botao1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 252, 0.500);
    color: #fff;
    margin-top: 1rem;
    font-size: 1.9rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 7px;
    width: 155px;
    height: 50px;
    transition: width 10s;


}

.botao:hover {
    width: 0px;

}


p {
    color: #fff;
    background-color: rgba(0, 7, 7, 0.700);
    font-size: 2rem;

}

ul {

    color: #fff;
    background-color: rgba(0, 7, 7, 0.700);
    font-size: 2rem;


}

#secao-apresentacao li {
    list-style: none;
}